.body-input {
  cursor: pointer;
  width: 120px;
  height: 49px;
  display: inline-block;
  margin-left: 9px;
  background: #FFFFFF;
  border: 1px solid #DCDAD8;
  box-shadow: 0 0 0 1px rgba(221,221,221,0.50);
  border-radius: 2px;
  font-family: Dax-Medium;
  font-size: 16px;
  color: #007D46;
  line-height: 21px;
}

.selected {
  background: #A5CD39;
  border: 1px solid #A5CD39;
  box-shadow: 0 0 0 1px rgba(220,218,216,0.50);
  color: #FFFFFF;
}

@media screen and (max-width: 376px) {
  .body-input {
    width: 100px;
  }
}

@media screen and (max-width: 352px) {
  .body-input {
    width: 80px;
  }
}
